@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1{
    line-height: 1em;
    font-weight: 700;
    font-size: 70px;
    line-height: 1em;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    margin-bottom: 17px!important;
}

h3 {
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF!important;
    padding-bottom: 10px;
}

h4 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    font-size: 21px;
}

a {
    color: #2ea3f2;
}

a, a:hover {
    text-decoration: none;
}

.text-3 {
    font-size: 20px;
    line-height: 1.1em;
}

.text-4 {
    line-height: 1.3em;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    line-height: 1.3em;
    padding-top: 0px!important;
}

.pt-60px {
    padding-top: 60px;
}

.container {
    max-width: 1120px!important;
}

.secondary-font{
    font-family: "Montserrat", sans-serif;
}

.nav-tel{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0,0,0,.6);
}

.btn-offer {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px!important;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff!important;
    text-align: center;
    background: rgb(0,173,239);
    background: linear-gradient(90deg,rgba(0,173,239,1) 0%,rgba(44,51,147,1) 100%);

}

.navbar-brand {
    max-width: 220px;
}

.color-red {
    color:#ff0000;
}

.color-blue {
    color:#0C71C3!important;
}

.caption-strip {
    background-image: linear-gradient(90deg,#2b87da 0%,#2c3393 100%)!important;
    padding-top: 12px;
    padding-bottom: 12px;
    color:#fff;
}

.hero-section {
    /*background-position: right 20% center;*/
    background-position: right 20% center;
    background-size: cover;
    background-image: url(../img/ckf-scaled.jpg)!important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-r-5pr {
    padding-right: 5%;
}

.hero-left{
    color: #fff;
}

.hero-right{
    color: #fff;
    font-size: 24px;
}

.title-caption{
    font-size: 24px;
    margin-bottom: 7px;
    font-weight: 500;
}

.hero-button-wrapper{
    margin-bottom: 5.8%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.pr-btn{
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    line-height: 1.7em!important;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    border-radius: 3px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all!important;
    transition-property: all!important;
}

.hero-btn-1 {
    color: #FFFFFF!important;
    border-width: 0px!important;
    font-size: 16px;
    font-weight: 700!important;
    background-color: #fc375e;
    text-decoration: none;
    padding: 10px 30px;
}

.hero-btn-2 {
    color: #FFFFFF!important;
    border-width: 2px!important;
    font-size: 16px;
    font-weight: 700!important;
    background-color: RGBA(255,255,255,0);
    text-decoration: none;
    padding: 10px 22px;
}

.hero-right-li-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.hero-right-li-item .ico-div {
    width: 36px;
}

.hero-right-h4 {
    font-size: 21px;
    color: #FFFFFF!important;
    line-height: 1.2em;
    padding: 0!important;
    margin: 0!important;
}

.hero-btn-3 {
    font-size: 20px!important;
}

.strip-after-hero {
    background-image: linear-gradient(90deg,#2b87da 0%,#2c3393 100%)!important;
    padding: 20px 0;
    color: #fff;
}

.card-under-hero {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-under-hero h4{
    font-size: 18px;
    font-weight: 500!important;
    line-height: 1.2em;
    margin: 0!important;
    padding: 0!important;
    color: #fff;
}

.card-under-hero i{
    font-size: 36px;
}

.section-2-right-row {
    margin-bottom: 6%;
    font-size: 17px;
    color: #333;
}

.section-2 h2 {
    font-weight: 700;
    font-size: 43px;
    color: #0C71C3!important;
    line-height: 1.1em;
    text-align: center;
}

.section-2-right-row h3 {
    color: #333!important;
    padding-bottom: 0!important;
    line-height: 1em;
    font-weight: 700;
    font-size: 22px;
}

/*offer section*/

.section-offer {
    background-image: linear-gradient(90deg,#2b87da 0%,#2c3393 100%)!important;
    color: #fff;
}

.section-offer h2 {
    font-weight: 700;
    font-size: 43px;
    color: #fff!important;
    line-height: 1.1em;
    text-align: center;
}

.offer-ul-li{
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF!important;
    line-height: 1.1em;
    margin-bottom: 1.5em;
}

.offer-ul-li i{
    font-size: 48px;
    padding-right: 16px;
}

.social-icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-icons-wrapper a, .social-icons-wrapper a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.offer-form-wrapper{
    background-color: #fff;
    border-radius: 26px;
    padding: 33px;
}

.offer-form-wrapper h2{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 29px;
    color: #333!important;
    text-align: center;
}

.offer-form-wrapper .subtitle {
    text-align: center;
    color: #666;;
    margin-top: 1.3em;
    margin-bottom: 1.5em;
    font-weight: 700;
}

.input-wrapper{
    margin-bottom: 25px;
}

.offer-form input[type=text], .offer-form input[type=email], .offer-form input[type=tel], .offer-form textarea, .offer-form select {
    width: 100%;
    background: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    box-shadow: none;
    color: #787878;
    transition: all .5s;
    font-size: 16px;
    padding: 12px;
}

.input-caption{
    color: #666;
    padding-left: 2px;
}

.offer-form .btn-submit{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 10px 20px;
    line-height: 1.7em!important;
    background-color: #fc375e;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all!important;
    transition-property: all!important;
}

.offer-form .btn-submit i{
    color: #f9c23c;
}

